
<!DOCTYPE html>
<html>
    <head>
   <link rel="stylesheet" href="../static/formm.css">
    </head>
<body>
<div>
    <form name="login-form"  action="/action"  target="_self" method="POST"  >
        <h2>SELECT ACTION:</h2>
        
        
        <input type="submit" name="submit_button" value="UPLOAD ATTENDANCE"><br>
        
        <input type="submit"name="submit_button" value="OVERALL ATTENDANCE"><br>
        
       
        
       
    </form>
</div>

</body>
</html>

